<!DOCTYPE html>
<html lang="es">
<script>
    function includeHTML() {
        var z, i, elmnt, file, xhttp;
        /*loop through a collection of all HTML elements:*/
        z = document.getElementsByTagName("*");
        for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("include-html");
            if (file) {
                /*make an HTTP request using the attribute value as the file name:*/
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            elmnt.innerHTML = this.responseText;
                        }
                        if (this.status == 404) {
                            elmnt.innerHTML = "Page not found.";
                        }
                        /*remove the attribute, and call this function once more:*/
                        elmnt.removeAttribute("include-html");
                        includeHTML();
                    }
                }
                xhttp.open("GET", file, true);
                xhttp.send();
                /*exit the function:*/
                return;
            }
        }
    }
</script>

<head>


        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/vendors/font-awesome.min.css">
        <link rel="stylesheet" href="/css/shopping_cart.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/footer-distributed-with-address-and-phones.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <script src="https://kit.fontawesome.com/6822eedb87.js" crossorigin="anonymous"></script>
        <title>Compras</title>

</head>

<body>
    <div include-html="header.html"></div>


    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
      
        $('.visibility-cart').on('click',function(){
       
       var $btn =  $(this);
       var $cart = $('.cart');
       console.log($btn);
       
       if ($btn.hasClass('is-open')) {
          $btn.removeClass('is-open');
          $btn.text('O')
          $cart.removeClass('is-open');     
          $cart.addClass('is-closed');
          $btn.addClass('is-closed');
       } else {
          $btn.addClass('is-open');
          $btn.text('X')
          $cart.addClass('is-open');     
          $cart.removeClass('is-closed');
          $btn.removeClass('is-closed');
       }
     
                       
     });
     
       // SHOPPING CART PLUS OR MINUS
       $('a.qty-minus').on('click', function(e) {
         e.preventDefault();
         var $this = $(this);
         var $input = $this.closest('div').find('input');
         var value = parseInt($input.val());
         
         if (value > 1) {
           value = value - 1;
         } else {
           value = 0;
         }
         
         $input.val(value);
             
       });
     
       $('a.qty-plus').on('click', function(e) {
         e.preventDefault();
         var $this = $(this);
         var $input = $this.closest('div').find('input');
         var value = parseInt($input.val());
     
         if (value < 100) {
         value = value + 1;
         } else {
           value =100;
         }
     
         $input.val(value);
       });
     
     // RESTRICT INPUTS TO NUMBERS ONLY WITH A MIN OF 0 AND A MAX 100
     $('input').on('blur', function(){
     
       var input = $(this);
       var value = parseInt($(this).val());
     
         if (value < 0 || isNaN(value)) {
           input.val(0);
         } else if
           (value > 100) {
           input.val(100);
         }
     });
    </script>

<div class="container">
    <!-- <div class="heading"> -->
      <!-- <h1>
        <span class="shopper">s</span> Shopping Cart
      </h1>
      
      <a href="#" class="visibility-cart transition is-open">X</a>    
    </div>
     -->
    <div class="cart transition is-open">
      
      <!-- <a href="#" class="btn btn-update">Update cart</a> -->
      
      
      <div class="table">
        
        <div class="layout-inline row th">
          <div class="col col-pro">Producto</div>
          <div class="col col-price align-center "> 
            Precio
          </div>
          <div class="col col-qty align-center">Cantidad</div>
          <div class="col">Valor unitario</div>
          <div class="col">Valor Total</div>
        </div>
        
        <div class="layout-inline row">
          
          <div class="col col-pro layout-inline">
            <img src="http://static.ddmcdn.com/gif/10-kitten-cuteness-1.jpg" alt="kitten" />
            <p>Happy Little Critter</p>
          </div>
          
          <div class="col col-price col-numeric align-center ">
            <p>£59.99</p>
          </div>
  
          <div class="col col-qty layout-inline">
            <a href="#" class="qty qty-minus">-</a>
              <input type="numeric" value="3" />
            <a href="#" class="qty qty-plus">+</a>
          </div>
          
          <div class="col col-vat col-numeric">
            <p>£2.95</p>
          </div>
          <div class="col col-total col-numeric">               <p> £182.95</p>
          </div>
        </div>
        
        <div class="layout-inline row row-bg2">
  
          <div class="col col-pro layout-inline">
            <img src="http://lovemeow.com/wp-content/uploads/2012/05/kitten81.jpg" alt="kitten" />
            <p>Scared Little Kittie</p>
          </div>
          
          <div class="col col-price col-numeric align-center ">
            <p>£23.99</p>
          </div>
  
          <div class="col col-qty  layout-inline">
            <a href="#" class="qty qty-minus ">-</a>
              <input type="numeric" value="1" />
            <a href="#" class="qty qty-plus">+</a>
          </div>
          
          <div class="col col-vat col-numeric">
            <p>£1.95</p>
          </div>
          <div class="col col-total col-numeric">
            <p>£25.94</p>
          </div>      
        
        </div>
        
         <div class="layout-inline row">
          
          <div class="col col-pro layout-inline">
            <img src="http://cdn.cutestpaw.com/wp-content/uploads/2012/04/l-my-first-kitten.jpg" alt="kitten" />
            <p>Curious Little Begger</p>
          </div>
          
          <div class="col col-price col-numeric align-center ">
            <p>£59.99</p>
          </div>
  
          <div class="col col-qty layout-inline">
            <a href="#" class="qty qty-minus">-</a>
              <input type="numeric" value="3" />
            <a href="#" class="qty qty-plus">+</a>
          </div>
          
          <div class="col col-vat col-numeric">
            <p>£2.95</p>          
          </div>
           <div class="col col-total col-numeric">  
             <p>£182.95</p>
           </div>         
        </div>
    
         <div class="tf">
           <div class="row layout-inline">
             <div class="col">
               <p>Valor</p>
             </div>
             <div class="col"></div>
           </div>
           <div class="row layout-inline">
             <div class="col">
               <p>IVA</p>
             </div>
             <div class="col"></div>
           </div>
            <div class="row layout-inline">
             <div class="col">
               <p>Total</p>
             </div>
             <div class="col"></div>
           </div>
         </div>         
    </div>
      
      <!-- <a href="#" class="btn btn-update">Update cart</a> -->
    
  </div>
</div>

<div include-html="footer.html"></div>
<script>
    includeHTML();
</script>
</body>

</html>