<!DOCTYPE html>
<html lang="es">
<script>
    function includeHTML() {
        var z, i, elmnt, file, xhttp;
        /*loop through a collection of all HTML elements:*/
        z = document.getElementsByTagName("*");
        for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("include-html");
            if (file) {
                /*make an HTTP request using the attribute value as the file name:*/
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) { elmnt.innerHTML = this.responseText; }
                        if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
                        /*remove the attribute, and call this function once more:*/
                        elmnt.removeAttribute("include-html");
                        includeHTML();
                    }
                }
                xhttp.open("GET", file, true);
                xhttp.send();
                /*exit the function:*/
                return;
            }
        }
    }
</script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/vendors/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer-distributed-with-address-and-phones.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script src="https://kit.fontawesome.com/6822eedb87.js" crossorigin="anonymous"></script>
    <title>Productos</title>

</head>

<body>
    <div include-html="header.html"></div>
    <main class="container2">

        <!-- Left Column / Headphones Image -->
        <div class="left-column">
           <img class="product2" src="img/vinos/vinocastillo.png" alt="">
        </div>
  
  
        <!-- Right Column -->
        <div class="right-column">
  
          <!-- Product Description -->
          <div class="product-description">
            <span>Vinos</span>
            <h1>Vino Rosado Cousiño Cabernet Sauvignon</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nobis totam fugit consequatur nulla, consectetur tenetur, molestiae, a voluptatem quo eveniet nemo ea praesentium. Repellat in alias molestiae doloribus cumque.</p>
          </div>
  
          <!-- Product Configuration -->
          <div class="product-configuration">
  
          <!-- Cable Configuration -->
            <div class="cable-config">
              <span>Selecciona el tamaño de la botella</span>
  
              <div class="cable-choose">
                <button>375ml</button>
                <button>750ml</button>
                <button>1500ml</button>
              </div>
  
            </div>
          </div>
  
          <!-- Product Pricing -->
          <div class="product-price">
            <span>$ 75.900</span>
            <a href="#" class="cart-btn">Agregar al carrito</a>
          </div>
        </div>
      </main>
   
    <div include-html="footer.html"></div>
    <script>
        includeHTML();
    </script>
     <!-- Scripts -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
     <script src="script.js" charset="utf-8"></script>
</body>

</html>