<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Footer -->
    <footer>
      <section id="footer">
        <div class="footer container">
          <div class="brand">
            <h1><span>L</span>a <span>B</span>otellita</h1>
          </div>
          <h2>Siguenos en redes Sociales</h2>
          <div class="social-icon">
            <div class="social-item">
              <a href="http://www.facebook.com" target="_blank"><img src="./img/redes_sociales/facebook.png" /></a>
            </div>
  
            <div class="social-item">
              <a href="http://www.instagram.com" target="_blank"><img src="./img/redes_sociales/instagram.png" /></a>
            </div>
            <div class="social-item">
              <a href="https://twitter..com" target="_blank"><img src="./img/redes_sociales/twitter.png" /></a>
            </div>
  
            <div class="social-item">
              <a href="https://web.whatsapp.com" target="_blank"><img src="./img/redes_sociales/whatsapp.png" /></a>
            </div>
          </div>
  
          <p>Copyright © 2022 La Botellita. All rights reserved</p>
        </div>
  
      </section>
    </footer>
    <!-- End Footer -->
</body>
</html>