
<footer>
    <article class="cont_footer">
        <h3>Este es el Footer</h3>
        </div>
        <div id="redes">
            <ul class="RedesSociales">
                <li><a href="https://www.facebook.com/" title="Facebook"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/?lang=es" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.youtube.com/" title="Youtube"><i class="fab fa-youtube-square"></i></a></li>
                <li><a href="https://web.whatsapp.com/" title="Whatsapp"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/?hl=es-la" title="Instagram"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>

        </div>
        <div>
            <h6>© Copyright 2022 Derechos Reservados. Prohibida la reproducción total o parcial de este sitio.</h6>
        </div>
    </article>

</footer>