<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/css/style_header.css">
</head>
<body>
    <!-- Header -->
  <header>
    <section id="header">
      <div class="header container">
        <div class="nav-bar">
          <div class="brand">
            <a href="#hero">
              <h1><span>L</span>icrorera <span>La B</span>otellita</h1>
            </a>
          </div>
          <div class="nav-list">
            <div class="hamburger">
              <div class="bar"></div>
            </div>
            <ul>
              <li><a href="/" data-after="/">Inicio</a></li>
              <li><a href="#services" data-after="productos">Productos</a></li>
              <li><a href="#projects" data-after="para_regalar">Para Regalar</a></li>
              <li><a href="#about" data-after="club">Club</a></li>
              <li><a href="#contact" data-after="ofertas">Ofertas</a></li>
              <li><a href="#contact" data-after="servicios">Servicios</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </header>
  <!-- End Header -->
</body>
</html>