<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Header -->
  <header>
    <section id="header">
      <div class="header container">
        <div class="nav-bar">
          <div class="brand">
            <a href="/">
              <h1><span>L</span>icorera <span>La B</span>otellita</h1>
            </a>
          </div>
          <div class="nav-list">
            <div class="hamburger">
              <div class="bar"></div>
            </div>
            <ul>
              <li><a href="/" data-after="/">Inicio</a></li>
              <li><a href="productos">Productos</a></li>
              <li><a href="para_regalar">Para regalar</a></li>
              <li><a href="club">Club</a></li>
              <li><a href="ofertas">Ofertas</a></li>
              <li><a href="servicios">Servicios</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </header>
  <!-- End Header -->
</body>
</html>