
<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="#" class="enlace">
            <img src="img/logo/logo.jpeg" alt="Logo" class="logo">
        </a>
        <ul>

            <section>
                <li class="list-item"><a href="/">Inicio</a></li>
                <li class="list-item"><a href="productos">Productos</a></li>
                <li class="list-item"><a href="para_regalar">Para regalar</a></li>
                <li class="list-item"><a href="club">Club</a></li>
                <li class="list-item"><a href="ofertas">Ofertas</a></li>
                <li class="list-item"><a href="servicios">Servicios</a></li>
            </section>

        </ul>
        
    </nav>
    
    <h3 >Este es el Header</h3>
    <marquee class="cont_header">
        <img src="img/banner/banner.jpg" alt="banner" width="40%" height="25%">
        <img src="img/banner/banner2.jpg" alt="banner" width="20%" height="10%">
    </marquee>
</header><br>