<!DOCTYPE html>
<html lang="es-Co">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo Licores la Botellita</title>
    <!-- <link rel="stylesheet" href="css/vendors/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <!-- Este articulo no se va a mostrar porque toma el estilo oculto. -->
    <article class="Cotizacion">Cotizaciones
    <p class="Ingresar">Ingresar</p>
    </article><br>

    <article class="contenedor_body">

        <h3>
            Pagina la Licorera
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, obcaecati. Odit quo excepturi non, tempore
            debitis nobis ex quasi quisquam unde explicabo assumenda sit quos adipisci dolorum odio et. Vitae.
        </p>

    </article>
</body><br>
<main>
    <article class="cont_main">
        <h3>Este es el Main</h3>
    </article>
</main><br>



</html>