<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>
<head>
    <title>Login</title>
</head> 
<body>
    <header>
        <%- include('partials/header'); %>
    </header> 

    <div class="login">
        <form action="#" method=post>

            <section id="services">

                <div class="service-bottom">
                    <!-- <div class="service-item"> -->
                    <div class="icon"><img src="./img/vino/icono_vino.jpg" /></div>
            </section>


            <h1>Login</h1><br><br><br>

            <input type="text" name="usuario" maxlength="15" required><br>
            <label for="usuario">
                <h3>Nombre Usuario</h3>
            </label><br>

            <input type="password" name="password" maxlength="20" required><br>
            <label for="password">
                <h3>Password</h3>
            </label><br>

            <section id="captcha" required>
                <div class="g-recaptcha" data-sitekey="6Lc2GskgAAAAALFLac9Tytnjn-FCXPyxD48lbiHi"></div><br>
            </section>
            <input type="submit" value="Login" class="cart-btn"><br><br>

            <h4>Ha olvidado su contraseña</h4><br><br><br>

            <!-- Autenticacion con google -->

            <section id="aut_google">
                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
                <script>
                    function onSignIn(googleUser) {
                        var profile = googleUser.getBasicProfile();
                        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                        console.log('Name: ' + profile.getName());
                        console.log('Image URL: ' + profile.getImageUrl());
                        console.log('Email: ' + profile
                            .getEmail()); // This is null if the 'email' scope is not present.
                    }
                </script>
            </section>
        </form>
    </div>
    <!-- End autenticacion con Google -->


    <!-- Inicio de sesion con Facebook -->


    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '{your-app-id}',
                cookie: true,
                xfbml: true,
                version: '{api-version}'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <!-- End inicio de sesion con Facebook -->

    <footer>
        <%- include('partials/footer'); %>
    </footer>
    
</body>
</html>