<!DOCTYPE html>
<html lang="es">
<script>
  function includeHTML() {
    var z, i, elmnt, file, xhttp;
    /*loop through a collection of all HTML elements:*/
    z = document.getElementsByTagName("*");
    for (i = 0; i < z.length; i++) {
      elmnt = z[i];
      /*search for elements with a certain atrribute:*/
      file = elmnt.getAttribute("include-html");
      if (file) {
        /*make an HTTP request using the attribute value as the file name:*/
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4) {
            if (this.status == 200) { elmnt.innerHTML = this.responseText; }
            if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
            /*remove the attribute, and call this function once more:*/
            elmnt.removeAttribute("include-html");
            includeHTML();
          }
        }
        xhttp.open("GET", file, true);
        xhttp.send();
        /*exit the function:*/
        return;
      }
    }
  }
</script>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/vendors/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/footer-distributed-with-address-and-phones.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <script src="https://kit.fontawesome.com/6822eedb87.js" crossorigin="anonymous"></script>
  <title>Productos</title>

</head>

<body>
  <div include-html="header.html"></div>
  <main class="container2">

    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <img class="product2" src="img/coctel/mojito.jpg" alt="">
    </div>


    <!-- Right Column -->
    <div class="right-column">

      <!-- Product Description -->
      <div class="recipe-ingredients">
        <h3>Ingredientes</h3>
        <ul class="ingredientes">
          <li itemprop="ingredient" class="ingredient">
            <span class="cantidad">8</span>
            <span class="descripcion">ramas de hierbabuena</span>
          </li>
          <li itemprop="ingredient" class="ingredient">
            <span class="cantidad">4</span>
            <span class="descripcion">caballitos de ron blanco</span>
          </li>
          <li itemprop="ingredient" class="ingredient"><span class="cantidad">4</span>
            <span class="descripcion">cucharadas de azúcar</span>
          </li>
          <li itemprop="ingredient" class="ingredient"><span class="cantidad">1</span>
            <span class="descripcion">litro de agua mineral</span>
          </li>
          <li itemprop="ingredient" class="ingredient"><span class="cantidad">1</span>
            <span class="descripcion">limón en rodajas</span>
          </li>
        </ul> <br>
      </div><!-- ingredients -->

      <div class="recipe-ingredients">
        <h3>Instrucciones</h3>
        <ol class="ingredientes">
          <li itemprop="ingredient" class="ingredient">Coloca una rama de menta en cada vaso, agrega un caballito de
            ron, una cucharada de azúcar y un par de rodajas de limón.</li>
          <li itemprop="ingredient" class="ingredient">Aplasta con un pilón y después agrega el agua mineral y hielo
          </li>
        </ol>
      </div><!-- .instructions -->
      <br>
      <div class="recipe-ingredients">
        <h2> <strong> Consejos básicos para preparar mojitos </strong></h2>
        <ul class="ingredientes">
          <li class="ingredient">Utiliza limas o limones que no estén demasiado maduros o verdes, porque pueden alterar
            el sabor final.</li>
          <li class="ingredient">Lo mejor es siempre mezclar todos los ingredientes y dejar los hielos para el final a
            la hora de agitar.</li>
          <li class="ingredient">Al triturar los ingredientes cuida que saquen el jugo pero que no queden del todo
            aplastados.</li>
          <li class="ingredient">Opta por una cuchara o mortero de madera para triturar.</li>
          <li class="ingredient">Procura no agregar demasiado ron, dos caballitos son suficientes por lo general, esto
            te dará el sabor perfecto y equilibrado.</li>
          <li class="ingredient">No bebas el mojito rápidamente, es mejor dejarlo reposar y beberlo con calma.</li>
          <li class="ingredient">Nunca olvides el hielo ya que los mojitos son uno de los pocos cócteles que necesitan
            diluirse un poco para rebajar la intensidad de sus sabores.</li>
          <li class="ingredient">Asegúrate de mezclar bien el azúcar o utilizar jarabe para evitar que quede asentada en
            el fondo del vaso.</li>
          <li class="ingredient">El jugo de limón o lima debe ser recién exprimido para darle más frescura.</li>
          <li class="ingredient">Añade rodajas de limas o limones, así como rebanadas o trozos de diferentes
            ingredientes.</li>
          <li class="ingredient">Utiliza un trozo de caña de azúcar al momento de servirlo en el vaso, le dará mejor
            presentación y te permitirá seguir mezclando mientras lo bebes.</li>
          <li class="ingredient">Reserva una ramita de hierbabuena para la decoración.</li>
        </ul>
      </div>

    </div>
    </div>
  </main>

  <div include-html="footer.html"></div>
  <script>
    includeHTML();
  </script>
  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
  <script src="script.js" charset="utf-8"></script>
</body>

</html>