<!DOCTYPE html>
<html lang="es">
<script>
    function includeHTML() {
        var z, i, elmnt, file, xhttp;
        /*loop through a collection of all HTML elements:*/
        z = document.getElementsByTagName("*");
        for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("include-html");
            if (file) {
                /*make an HTTP request using the attribute value as the file name:*/
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) {
                            elmnt.innerHTML = this.responseText;
                        }
                        if (this.status == 404) {
                            elmnt.innerHTML = "Page not found.";
                        }
                        /*remove the attribute, and call this function once more:*/
                        elmnt.removeAttribute("include-html");
                        includeHTML();
                    }
                }
                xhttp.open("GET", file, true);
                xhttp.send();
                /*exit the function:*/
                return;
            }
        }
    }
</script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/vendors/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style1.css">
    <title>Ofertas</title>

</head>

<body>
    <div include-html="header.html"></div>


    <!-- Service Section -->
    <section id="services">
        <div class="service-bottom">
            <div class="service-item">
                <div class="icon">
                    <img src="./img/vinos/vinotintocastillo.png" />
                </div>
                <a href="/vinos"><h2>Vinos</h2></a>
                
            </div>
            <div class="service-item">
                <div class="icon">
                    <img src="./img/whisky/buchanansdeluxe.png" />
                </div>
                <a href="/whisky"><h2>Whisky</h2></a>
            </div>
            <div class="service-item">
                <div class="icon"><img src="./img/tequila/donjulio.png" /></div>
                <a href="/tequila"><h2>Tequila</h2></a>
            </div>

            <div class="service-item">
        <div class="icon"><img src="./img/ron/ron.jpg" /></div>
        <a href="/ron"><h2>Ron</h2></a>
        </div>
        
        <div class="service-item">
                <div class="icon"><img src="./img/ron/ron.jpg" /></div>
                <a href="/coctel"><h2>Coctelería</h2></a>
            </div>
        </div>
    </section>

    <!-- End Service Section -->


    <div include-html="footer.html"></div>
    <script>
        includeHTML();
    </script>
</body>

</html>