<!DOCTYPE html>
<html lang="es">
<script>
    function includeHTML() {
        var z, i, elmnt, file, xhttp;
        /*loop through a collection of all HTML elements:*/
        z = document.getElementsByTagName("*");
        for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("include-html");
            if (file) {
                /*make an HTTP request using the attribute value as the file name:*/
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) { elmnt.innerHTML = this.responseText; }
                        if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
                        /*remove the attribute, and call this function once more:*/
                        elmnt.removeAttribute("include-html");
                        includeHTML();
                    }
                }
                xhttp.open("GET", file, true);
                xhttp.send();
                /*exit the function:*/
                return;
            }
        }
    }
</script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/vendors/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer-distributed-with-address-and-phones.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script src="https://kit.fontawesome.com/6822eedb87.js" crossorigin="anonymous"></script>
    <title>Tequila</title>

</head>

<body>
<div include-html="header.html"></div>
<main class="main">
<section class="last-visit">
    <div class="products">
      <article>
        <img src="img/tequila/Tequilajosecuervo.png" alt="tequila" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$80.900</p>
           <h4 class="description">Tequila Jose Cuervo Especial Reposado</h4>
           <p class="Tamañobotella">750ML</p>
        </div>
     </article>
     <article>
        <img src="img/tequila/donjulio.png" alt="donjulio" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$216.800</p>
           <h4 class="description">Tequila Don Julio Reserva Reposado</h4>
           <p class="Tamañobotella">700ML</p>
        </div>
     </article>
     <article>
        <img src="img/tequila/josecuervoreposado.png" alt="josecuervoreposado" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$83.800</p>
           <h4 class="description">Tequila Jose Cuervo Reposado 750 ml</h4>
           <p class="Tamañobotella">750ML</p>
        </div>
     </article>
     <article>
        <img src="img/tequila/tequilagrancentenario.png" alt="tequilagrancentenario" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$88.900</p>
           <h4 class="description">Tequila Gran Centenario Reposado</h4>
           <p class="Tamañobotella">700ML</p>
        </div>
     </article>
     <article>
        <img src="img/tequila/tequilaolmeca.png" alt="tequilaolmeca" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$69.900</p>
           <h4 class="description">Tequila Olmeca Blanco</h4>
           <p class="Tamañobotella">700ML</p>
        </div>
     </article>
     <article>
        <img src="img/tequila/tequilareserva.png" alt="tequilareserva" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$190.900</p>
           <h4 class="description">Tequila Reserva 1800 Añejo</h4>
           <p class="Tamañobotella">700ML</p>
        </div>
     </article>
     <article>
        <img src="img/tequila/josecuervoreserva.png" alt="josecuervoreserva" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$515.900</p>
           <h4 class="description">Tequila Jose Cuervo Reserva De La Familia Extrañejo</h4>
           <p class="Tamañobotella">700ML</p>
        </div>
     </article>
     <article>
        <img src="img/tequila/leyendadelmilagro.png" alt="leyendadelmilagro" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$219.800</p>
           <h4 class="description">Tequila Leyenda del Milagro Reposado Especial</h4>
           <p class="Tamañobotella">700ML</p>
        </div>
     </article>
 </section>
</main>
</div>
    <div include-html="footer.html"></div>
    <script>
        includeHTML();
    </script>
</body>

</html>