<!DOCTYPE html>
<html lang="es">
<script>
    function includeHTML() {
        var z, i, elmnt, file, xhttp;
        /*loop through a collection of all HTML elements:*/
        z = document.getElementsByTagName("*");
        for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("include-html");
            if (file) {
                /*make an HTTP request using the attribute value as the file name:*/
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) { elmnt.innerHTML = this.responseText; }
                        if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
                        /*remove the attribute, and call this function once more:*/
                        elmnt.removeAttribute("include-html");
                        includeHTML();
                    }
                }
                xhttp.open("GET", file, true);
                xhttp.send();
                /*exit the function:*/
                return;
            }
        }
    }
</script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/vendors/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer-distributed-with-address-and-phones.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <script src="https://kit.fontawesome.com/6822eedb87.js" crossorigin="anonymous"></script>
    <title>Vinos</title>

</head>

<body>
<div include-html="header.html"></div>
<main class="main">
<section class="last-visit">
    <div class="products">
    <article>
        <img src="img/vinos/vinotintonavarro.png" alt="Vino" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$76.000</p>
           <h4 class="description">Vino Tinto Navarro Correas Colección Privada Malbec</h4>
           <p class="Tamañobotella">750ML</p>
        </div>
    </article>
    <article>
        <img src="img/vinos/vinorosado.png" alt="vinorosado" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$50.000</p>
            <h4 class="description">Vino Rosado Cousiño Gris Macul Varietal Cabernet Sauvignon</h4>
            <p class="Tamañobotella">750ML</p>
        </div>
    </article>
    <article>
        <img src="img/vinos/vinotintojoel.png" alt="vinotintojoel" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$89.900</p>
            <h4 class="description">Vino Tinto Joel Gott 815 Cabernet Sauvignon</h4>
            <p class="Tamañobotella">750ML</p>
        </div>
    </article>
    <article> 
        <img src="img/vinos/vinotintonavarro.png" alt="vinotinto" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$45.000</p>
            <h4 class="description">Vino Tinto Las Moras Cabernet Sauvignon</h4>
            <p class="Tamañobotella">750ML</p>
        </div>
    </article>
    <article> 
        <img src="img/vinos/vinotintolacelia.png" alt="vinotintocelia" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$57.000</p>
            <h4 class="description">Vino Tinto La Celia Reserva Malbec Cabernet Franc</h4>
            <p class="Tamañobotella">750ML</p>
        </div>
    </article>
    <article> 
        <img src="img/vinos/vinoblanconavarro.png" alt="vinonavarro" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$75.000</p>
            <h4 class="description">Vino Tinto La Celia Reserva Malbec Cabernet Franc</h4>
            <p class="Tamañobotella">750ML</p>
        </div>
    </article>
    <article> 
        <img src="img/vinos/vinocastillo.png" alt="vinocastillo" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$74.000</p>
            <h4 class="description">Vino Castillo de Molina Pinot Noir Rosé</h4>
            <p class="Tamañobotella">750ML</p>
        </div>
    </article>
    <article> 
        <img src="img/vinos/vinotintocastillo.png" alt="vinotintocastillo" class="product_img">
        <div class="main-article">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="price">$73.900</p>
            <h4 class="description">Vino Tinto Castillo De Molina Reserva Pinot Noir</h4>
            <p class="Tamañobotella">750ML</p>
        </div>
    </article>
</section>
</main>
</div>
    <div include-html="footer.html"></div>
    <script>
        includeHTML();
    </script>
</body>

</html>