<!DOCTYPE html>
<html lang="es">
<script>
    function includeHTML() {
        var z, i, elmnt, file, xhttp;
        /*loop through a collection of all HTML elements:*/
        z = document.getElementsByTagName("*");
        for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("include-html");
            if (file) {
                /*make an HTTP request using the attribute value as the file name:*/
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4) {
                        if (this.status == 200) { elmnt.innerHTML = this.responseText; }
                        if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
                        /*remove the attribute, and call this function once more:*/
                        elmnt.removeAttribute("include-html");
                        includeHTML();
                    }
                }
                xhttp.open("GET", file, true);
                xhttp.send();
                /*exit the function:*/
                return;
            }
        }
    }
</script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/vendors/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style1.css">
    <title>Productos</title>

</head>

<body>
    <div include-html="header.html"></div>
    <div class="products">
    <article>
        <img src="img/vinos/vinotintonavarro.png" alt="Vino" class="product_img">
        <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$6.770</p>
            <p class="discount">40% off</p>
            <h4 class="description">Cafetera Moulinex</h4>
        </div>
    </article>
    <article>
        <img src="img/vinos/images/vinorosado.png" alt="Vino" class="product_img">
        <div class="main-article">
            <i class="fas fa-truck"></i>
            <p class="price">$230.000</p>
            <p class="discount">20% off</p>
            <h4 class="description">MacBook Pro 2019</h4>
        </div>
    </article>
</div>
    <div include-html="footer.html"></div>
    <script>
        includeHTML();
    </script>
</body>

</html>